@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Square+Neo:wght@300;400;700;800&display=swap');

:root {
  --font-nanum-gothic: 'Nanum Gothic', sans-serif;
  --font-nanum-square-neo: 'Nanum Square Neo', sans-serif;

  /* Nanum Gothic 폰트 */
  --ng-exbold-15: bold 15px var(--font-nanum-gothic);
  --ng-exbold-14: bold 14px var(--font-nanum-gothic);
  --ng-exbold-12: bold 12px var(--font-nanum-gothic);

  --ng-bold-28: bold 28px var(--font-nanum-gothic);
  --ng-bold-26: bold 26px var(--font-nanum-gothic);
  --ng-bold-24: bold 24px var(--font-nanum-gothic);
  --ng-bold-20: bold 20px var(--font-nanum-gothic);
  --ng-bold-16: bold 16px var(--font-nanum-gothic);
  --ng-bold-14: bold 14px var(--font-nanum-gothic);
  --ng-bold-13: bold 13px var(--font-nanum-gothic);
  --ng-bold-12: bold 12px var(--font-nanum-gothic);
  --ng-bold-10: bold 10px var(--font-nanum-gothic);

  --ng-reg-34: normal 34px var(--font-nanum-gothic);
  --ng-reg-32: normal 32px var(--font-nanum-gothic);
  --ng-reg-30: normal 30px var(--font-nanum-gothic);
  --ng-reg-28: normal 28px var(--font-nanum-gothic);
  --ng-reg-26: normal 26px var(--font-nanum-gothic);
  --ng-reg-25: normal 25px var(--font-nanum-gothic);
  --ng-reg-24: normal 24px var(--font-nanum-gothic);
  --ng-reg-23: normal 23px var(--font-nanum-gothic);
  --ng-reg-22: normal 22px var(--font-nanum-gothic);
  --ng-reg-20: normal 20px var(--font-nanum-gothic);
  --ng-reg-18: normal 18px var(--font-nanum-gothic);
  --ng-reg-16: normal 16px var(--font-nanum-gothic);
  --ng-reg-15: normal 15px var(--font-nanum-gothic);
  --ng-reg-15: normal 15px var(--font-nanum-gothic);
  --ng-reg-14: normal 14px var(--font-nanum-gothic);
  --ng-reg-13: normal 13px var(--font-nanum-gothic);
  --ng-reg-12: normal 12px var(--font-nanum-gothic);
  --ng-reg-10: normal 10px var(--font-nanum-gothic);

  --ng-light-11: 300 11px var(--font-nanum-gothic);

  /* Nanum Square Neo 폰트 */
  --neo-exbold-20: bold 20px var(--font-nanum-square-neo);
  --neo-exbold-13: bold 13px var(--font-nanum-square-neo);
  --neo-exbold-12: bold 12px var(--font-nanum-square-neo);
  --neo-exbold-9: bold 9px var(--font-nanum-square-neo);

  --neo-bold-18: bold 18px var(--font-nanum-square-neo);
  --neo-bold-16: bold 16px var(--font-nanum-square-neo);
  --neo-bold-15: bold 15px var(--font-nanum-square-neo);
  --neo-bold-13: bold 13px var(--font-nanum-square-neo);
  --neo-bold-12: bold 12px var(--font-nanum-square-neo);
  --neo-bold-11: bold 11px var(--font-nanum-square-neo);
  --neo-bold-10: bold 10px var(--font-nanum-square-neo);
  --neo-bold-9: bold 9px var(--font-nanum-square-neo);

  --neo-reg-13: normal 13px var(--font-nanum-square-neo);
  --neo-reg-12: normal 12px var(--font-nanum-square-neo);
  --neo-reg-11: normal 11px var(--font-nanum-square-neo);
  --neo-reg-10: normal 10px var(--font-nanum-square-neo);
  --neo-reg-9: normal 9px var(--font-nanum-square-neo);

  --neo-light-10: 300 10px var(--font-nanum-square-neo);
  --neo-light-9: 300 9px var(--font-nanum-square-neo);
  --neo-light-8: 300 8px var(--font-nanum-square-neo);

  /* 색상 */
  /* --primary-color: #ffc7ef; */
  --secondary-color: #ffe8fc;
  --hot-pink: #ff69b4;
  --background-color: white;
  --card-color: #f8f9fd;

  /* 텍스트 색상 */
  --text-color: #333333;
  --text-secondary: #969696;
  --text-subtitle: #64748b;
  --text-white: #ffffff;
  --text-error: #e60000;
  --text-income: #22c55e;
  --text-expense: #ef4444;
  --text-saving: #8b5cf6;
  --text-balance: #3b82f6;

  /* 헤더  */
  --header-bg: #fbcee8; /* 밝은 핑크 */

  /* 기본 컬러 (라이트 모드 기준) */
  --bg-main: #fff9fe;
  --bg-sub: #ffffff;
  --text-color: #333;
  --text-secondary: #888;
  /* --primary-color: #fbcee8; */

  --income-color: #10b981;
  --expense-color: #ef4444;
  --balance-color: #6366f1;
  --saving-color: #f9a8d4;

  --card-bg: #ffffff;
  --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

  --background-color: ##fff9fe;
  --text-color: #333;
  --text-secondary: #888;
  --text-white: #fff;
  --primary-color: #fbcee8;
  --text-income: #10b981;
  --text-expense: #ef4444;
  --text-balance: #6366f1;
  --text-error: #e74c3c;
  --hot-pink: #f472b6;
}

body {
  font-family: var(--font-nanum-gothic);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-nanum-square-neo);
}
.text-primary {
  color: var(--text-color);
}

.text-error {
  color: var(--text-error);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-white {
  color: var(--text-white);
}

.text-income {
  color: var(--text-income);
}

.text-expense {
  color: var(--text-expense);
}

.dark {
  --bg-main: #121212;
  --bg-sub: #1e1e1e;
  --text-color: #f1f1f1;
  --text-secondary: #aaa;
  --card-bg: #e7e5e4;
  --background-color: #f0f0f0;
  --text-color: #1a1a2e;
  --text-secondary: #888;
  --text-white: #f9f9f9;
}
